#terminal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4px;
  overflow: auto;
}

#terminal, #terminal textarea {
  font: 16px "Consolas", "Monaco", monospace;
  background-color: #000;
  color: #fff;
}

div.input-line, div.output-line {
  position: relative;
  top: 0;
  left: 0;
  margin: 2px;
}

div.output-line.echo {
  padding-left: 2.2em;
}

#terminal span.prompt {
  position: absolute;
  top: 0;
  left: 0;
}

div.output-line {
  white-space: pre-wrap;
}

#terminal span.prompt:first-child:before {
  content: ">>>";
}

#terminal span.prompt.cont:first-child:before {
  content: "...";
}

#terminal textarea {
  border: none;
  outline: none;
  width: 100%;
  margin: 0;
  padding: 0 0 0 2.2em;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
}

#terminal textarea.hidden {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
}

#repl-help-template {
  display: none;
}

div.repl-help {
  white-space: normal;
  padding: 15px 0 15px 0;
}

.repl-help h1 {
  font-size: 1.5em;
  margin: 0 0 20px 0;
  padding: 0;
}

.repl-help h2 {
  font-size: 1.2em;
  margin: 20px 0;
}

.repl-help p {
  margin: 10px 0;
  padding: 0;
}

.repl-help a {
  text-decoration: none;
}

.repl-help a:hover {
  text-decoration: underline;
}

.repl-help td {
  vertical-align: top;
  padding: 5px 16px 5px 0;
}

.repl-help td:first-child {
  font-style: italic;
  font-weight: bold;
  padding-right: 40px;
}


.js-special { color: cyan }
.js-number { color: yellow }
.js-boolean { color: yellow }
.js-undefined { color: grey }
.js-null { font-weight: bold }
.js-string { color: green }
.js-date { color: magenta }
.js-regexp { color: red }
.js-name {}
.js-ok { color: green }
.js-error { color: red }
